<div ng-show="load" style="width:100%;text-align: center;padding-top:100px">Please wait...</div>
<table ng-show="!load" style="font-size:11px;width:100%;">
    <thead>
        <tr>
            <th>Matchday</th>
            <th>Schedule</th> 
            <th>Date</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in datas">
          <td>{{data.matchday}}</td>
          <td>{{data.homeTeamName}} <b style="color:red">vs</b> {{data.awayTeamName}}</td>
          <td width="70">{{format(data.date)}}</td>
      </tr>
    </tbody>
</table>